@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Shadows+Into+Light&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	font-family: 'Shadows Into Light', cursive;
	text-decoration: none;
}
.brand{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand h1{
    color: #94d1be;
    margin-left: 20px;
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Shadows Into Light', cursive;
}
.brand .shoppingpage img{
    height: 80%;
    width: 80%;
    object-fit:cover;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
	background:linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#header .header {
	min-height: 8vh;
	background-color:linear-gradient(60deg, #29323c 0%, #485563 100%);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: #29323c;
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section 





/*Big block 1*/
.block1{
	width: 80%;
	margin: 10%;
}
.block1 .block-title{
	box-shadow: 0 0 20px #ccc;
	background-color: azure;
	padding: 2%;
	margin: 5% 5% 5% 8%;
}
.block1 h1{
	color: black;
	margin: 5%;
	font-size: 50px;
	text-align: center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.block1 #h1-under{
	text-align: center;
	font-size: 35px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.row{
	display: flex;
	align-items: center;/*大小照片置中(縱軸)*/
	flex-wrap: wrap;/*第一行放不下(太寬)換行*/
	flex-flow: wrap;
}
.col{
	flex-basis: 50%;
	min-width: 50%;
}
.ft-img{
	width: 85%;
	margin: auto;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}
#ft-img-text{
	font-size: 35px;
	color: deeppink;
	padding-top: 20px;
	text-align: center;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#ft-img-text span{
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
	line-height: 20px;
}
#ft-img-text #ref{
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#ft-img-text #lee{
	font-size: 20px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
#ft-img-text #lee:hover{
	text-decoration: underline;
}
.small-img-row{/*右側三個區塊裡面(step+字)*/
	display: flex;
	background-color: #e8fad4;
	margin: 2.5% 0;
	padding: 3%;
	align-items: center;
	border-radius: 6px;
	overflow: hidden;
	width: 100%;
}
.small-img{
	position: relative;
	vertical-align: middle;
}
.small-img-row .small-text{
	padding: 10px;
	width: 380px;
}
.small-img img{
	width: 150px;
}
.small-img-row p{
	margin-left: 5%;
	color: black;
	line-height: 30px;
	font-size: 25px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: left;
}
.small-img-row p .steps{
	font-family: 'Shadows Into Light', cursive;
	font-size: 25px;
	font-weight: 700;
}
.small-img-row p #gf{
	font-family: 'M PLUS Rounded 1c', sans-serif;
	color: crimson;
}
.small-img-row p #gf:hover{
	text-decoration: underline;
	cursor: pointer;
}
.play-btn{
	width: 60px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);/*????*/
	cursor: pointer;
}
.small-img .play-btn{
	width: 35px;
}
.video-player{
	margin-top: 35%;
	width: 65%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);/*????*/
	display: none;
}
video:focus{/*????*/
	outline: none;/*????*/
}
.cancel-btn{
	position: absolute;
	top: 10px;
	right: 10px;
	width: 30px;
	cursor: pointer;
}
/*End big block1*/



/*desc Offday*/
.desc-offday{
	margin: 10% 5% 10% 5%;
	padding: 5%;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
	background-color: azure;
	box-shadow: 0 0 20px #ccc;
}
.desc-offday h2{
	text-align: center;
	font-size: 50px;
}
.desc-offday #thumb{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.desc-offday p{
	font-size: 30px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.desc-offday #off-day{
	font-family: 'Shadows Into Light', cursive;
	font-size: 35px;
}
.desc-offday span{
	font-size: 20px;
}
.desc-offday a{
	text-decoration: none;
}
.desc-offday a:hover{
	text-decoration: underline;
	font-weight: bolder;
}
/*End desc Offday*/



/*Wrap section*/
.wrap{
	width: 85%;
	margin: auto;
}
.item{
	display: flex;
	align-items: center;
	margin: 5% 5% 15% 5%;
}
.item .pic{
	width: 55%;
	flex-shrink: 0;/*讓文字條突出去(不會壓縮)*/
}
.item .pic img{
	width: 100%;
	height: 100%;
	vertical-align: middle;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);/*邊界陰影*/
}
.item .text{
	width: 55%;
	flex-shrink: 0;
	padding: 5% 2.5%;
	box-sizing: border-box;
	position: relative;
	z-index: 1;
}
.item .text h2{
	font-weight: 600;
	font-size: 40px;
}
.item .text p{
	font-weight: 300;
	font-size: 23px;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}
.item .text #bla{
	font-family: 'Shadows Into Light', cursive;
}
.item .text #facebook{
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
}
.item .text #milan{
	font-family: 'Shadows Into Light', cursive;
	font-size: 30px;
}
.item .text span{
	font-weight: 500;
	font-size: 50px;
}
.item > :first-child{
	margin-right: -3.5%;
}
.item:nth-child(1) .text{
	background-color: rgba(240, 174, 193, 0.8);
}
.item:nth-child(2) .text{
	background-color: rgba(42, 253, 208, 0.8);
}
.item:nth-child(3) .text{
	background-color: rgba(254, 201, 121, 0.8);
}
.item:nth-child(4) .text{
	background-color: rgba(149, 219, 214, 0.8);
}
/*End Wrap section*/


/*Last section*/
.last{
	width: 85%;
	margin: 10%;
	font-family: 'M PLUS Rounded 1c', sans-serif;
	text-align: center;
	box-shadow: 0 0 10px #ccc;
	background-color: azure;
}
.last .text{
	padding: 5%;
}
.last h1{
	font-size: 3rem;
}
.last p{
	font-size: 30px;
}
/*End Last section*/


/*FOOTER*/
#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    font-family: 'Shadows Into Light', cursive;
}
#footer .footer{
    min-height: 200px;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 10px;

}
#footer .footer .brand{
	display: flex;
	justify-content: center;
}

#footer h2{
    color: #fff;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: .1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
#footer .social-icon{
    display: flex;
    margin-bottom: 30px;
}
#footer .social-item{
    height: 50px;
    width: 50px;
    margin: 0 5px;
}
#footer .social-item img{
    filter: grayscale(1);/*????*/
    transition: .3s ease filter;/*????*/
}
#footer .social-item:hover img{
    filter: grayscale(0);/*????*/
}
#footer p{
    color: #fff;
    font-size: .7rem;
}

/*End footer*/

/*Key frame*/
@keyframes hamburger_puls{

	0%{
		opacity: 1;
		transform: scale(1);
	}
	100%{
		opacity: 0;
		transform: scale(1.3);
	}
}

@keyframes text_reveal_box{
	50%{
		width: 100%;
		left:0;
	}
	100%{
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal{
	100%{
		color: white;
	}
}
/*End keyframe*/


/*Media 當螢幕<=1000px時執行*/
@media only screen and(min-width: 1000px){
	/*header*/
	#header .hamburger{
		display: none;
	}
	#header .nav-list ul{
		position: initial;
		display: block;
		height: auto;
		width: auto;
		background-color: transparent;
	}
	#header .nav-list ul li{
		display: inline-block;
	}
	#header .nav-list ul li a{
		font-size: 2rem;
	}
	#header .nav-list ul a:after{
		display: none;
	}
	/*End header*/
}

@media screen and (max-width: 1200px){/*<=Npx時執行*/
	/*block1*/
	.block1{
		margin-top: 20%;
	}
	.block1 .row{
		width: 40%;
		display: inline;
	}
	.block1 #col1{/*大專影片*/
		width: 80%;
		margin: 10% auto;
	}
	.block1 #col2{/*小圖*/
		width: 60%;
		margin: 10% auto;
	}
	.block1 .small-text{
		width: 80%;
		font-size: 20px;
	}
	.small-img-row{
		height: 50%
	}
	/*End block1*/


	/*videoplayer*/
	.video-player{
		width: 90%;
		margin-top: 100%;
	}
	/*videoplayer*/


	/*Wrap*/
	.wrap .item{
		display: inline;
		width: 80%;
		margin: 50%;
	}
	.wrap .item .pic{
		width: 80%;
		margin: 0 auto;
	}
	.wrap .item .text{
		width: 80%;
		margin: 0 auto;
	}
	/*End Wrap*/
}
@media screen and (max-width: 600px){/*<=Npx時執行*/
	/*block1*/
	.block1{
		margin-top: 20%;
	}
	.block1 .row{
		width: 90%;
		display: inline;
	}
	.block1 #col1{/*大專影片*/
		width: 100%;
		margin: 10% auto;
	}
	.block1 #col2{/*小圖*/
		width: 80%;
		margin: 10% auto;
	}
	.block1 .small-text{
		width: 80%;
		font-size: 20px;
	}
	/*End block1*/


	/*videoplayer*/
	.video-player{
		width: 90%;
		margin-top: 100%;
	}
	/*videoplayer*/


	/*desc*/
	.desc-offday{
		width: 80%;
		margin: 10% auto;
	}
	/*End desc*/

	/*wrap*/
	.wrap .item{
		display: inline;
		width: 80%;
	}
	.wrap .item .pic{
		width: 80%;
		margin: 0 auto;
	}
	.wrap .item .text{
		width: 80%;
		margin: 0 auto;
	}
	/*End wrap*/
}
/*End Media*/